* {
  font-family: arial;
  margin: 0;
}

.element {
  background-image: url(intro-import.jpg);
  background-repeat: repeat;
}

h1 {
  color: #e50914;
  height: 4px;
  width: 1px;
  vertical-align: middle;
  
}
#section-container {
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 244px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px;
  border-radius: 5px;
}

.signin {
  font-family: arial;
  font-size: 30px;
  color: white;
}

.container-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
#email, #password {
  background-color: rgb(133, 127, 127);
  color: aliceblue;
  border: none;
  padding: 12px;
  width: 220px;
  border-radius: 5px;
  font-size: 14px;
}

#email::placeholder {
  color: rgb(213, 215, 218);
}

#password::placeholder {
  color: rgb(213, 215, 218);
}

#container-3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

#submit {
  background-color: #e50914;
  color: aliceblue;
  border: none;
  padding: 12px;
  width: 243px;
  border-radius: 5px;
}

.check-mark {
  display: flex;
  justify-content: space-between;
}

.check-box {
  display: flex;
  justify-content: space-evenly;
}

.check::after {
  background-color: black;
}
.remember {
  color: rgb(173, 175, 177);
}

strong {
  color: white;
}

span {
  color: rgb(62, 62, 252);
}